.product-card {
  margin-bottom: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex: 0 0 auto;
  margin-right: 20px;
}

.product-info,
.product-details {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: black;
}

.product-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-info p {
  margin: 0;
}

.product-details h2 {
  margin-bottom: 5px;
}

.product-details p {
  margin: 0;
}

.search-input {
  display: flex;
  margin: 20px;
}

.ToggleButtonGroup {
  display: flex;
}

.ToggleButton {
  width: 100px;
  height: 50px;
}
.cart {
  height: 10px;
  font-size: 10px;
}
